.v {
    font-family: 'JetBrains Mono', monospace;
    font-size: 33px;
    text-align: center;
}
.beta{}
.beta p {
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: #aaa;
    text-align: center;
    text-decoration: none;
}
.beta:hover p {
    text-decoration: underline; 
}
.buttons {
    background-image: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(9,121,95,1) 61%, rgba(4,170,181,1) 95%, rgba(0,212,255,1) 100%);
    background-color: #063d42;
    padding: 30px 160px;
    transition: 0.5s;
}
.buttons:hover {
    background-image: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(6,61,66,1) 44%, rgba(9,121,95,1) 61%, rgba(5,158,161,1) 87%, rgba(4,170,181,1) 95%, rgba(0,212,255,1) 100%);
}
.buttons button {
    border: none;
    padding: 4px 10px;
    background-color: aliceblue;
    color: black;
    transition: .2s;
    cursor: pointer;
}
.buttons button:hover {
    color: white;
    background-color: black;
}
